//-------COLORS-------//
$bg-color: #091121;
$font-color: #818183;
$blue: #2ba2f7;
$pink: #ff66fc;
$light-pink: #fbb6ce;
$green: #30dbc6;
$purple: #6b66fc;
$gradient: linear-gradient(to right, $green, $blue, $pink);
$gradient2: linear-gradient(to right, $purple, $blue);

$screen-width-sm: 999px;
$screen-width-xs: 771px