@import 'variables.scss';
@import 'fonts.scss';


.section { 
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
}

.btn {
    padding: 10px 12px;
    font-weight: bold;
    margin: 5px;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: $gradient;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 4px;
    background: linear-gradient(to right, #4e4376, #2b5876);
    // background: linear-gradient(to right, #4e4376, #2b5876);
    z-index: -1;
    transition: 200ms
}

.btn::after {
    content: attr(data-text);
    font-size: 16px;
    background: linear-gradient(to left, #00FFA3, #DC1FFF);
    -webkit-background-clip: text;
    background-clip: text;
    color: white;
    transition: 200ms
}

.btn:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.btn:hover::after {
    color: white;
}

.btn-sm {
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.header-section {
    padding: 8px;
    .header-left { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            display: flex;
            justify-content: center;
            & {
                text-decoration: none;
                font-family: 'Playfair Display', serif;
                font-size: .8rem;
                color: white;
            }
        }
    }
}
.text-gradient {
    background: $gradient2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &hover {
        background: $gradient2;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    overflow: visible;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.1px);
        -webkit-backdrop-filter: blur(5.1px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .active {
            background-color: rgb(0 0 0 / 40%);
            box-shadow: rgba(207, 205, 205, 0.24) 0px 3px 6px;
            border-radius: 50%;
        }
        .link {
                display: flex;
                color: white;
                padding: 8px;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                svg {
                    width: 32px;
                    height: 32px;
                }
            }
    }
}

#home {
    .section {
        @media screen and (max-width: $screen-width-sm) {
            height: 85h;
        }
        height: 78vh;
        
    }

        .container {
            width: unset;
            display: flex;
            @media screen and (max-width: $screen-width-sm) {
                align-items: center;
                
            }
            .title {
                font-family: 'Playfair Display', serif;
                position: absolute;
                text-align: center;
                color: white;
                font-size: 5rem;
                width: 90%;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }
        }
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 80vw;
        row-gap: 2rem;
        @media screen and (max-width: $screen-width-sm) {
            flex-direction: column;
            width: 100%;
        }
        .image {
            flex: 1 1 0%;
            @media screen and (max-width: $screen-width-sm) {
                display: none;
            }
        }
        img {
            max-width: 600px;
            max-height: 600px;
        }
    
        .text {
            flex: 1 1 0%;
        overflow: visible;
            margin-bottom: 6px;
            color: white;
            display: flex;
            flex-direction: column;
            text-align: left;
            @media  screen and (max-width: $screen-width-sm) {
                text-align: center;
            }
            .description {
                font-size: 18px;
                text-transform: uppercase;
                @media screen and (max-width: $screen-width-xs) {
                    font-size: 16px;
                }
                @media screen and (max-width: $screen-width-xs) {
                    font-size: 36px;
                }
                font-size: 60px;
                .text-anim {
                    color: $green;
                }
            }
            span {
                margin-right: 4px;
            }
        }
        p {
            color: white;
        }
        .home-cta {
            gap: 1rem;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 1rem;
            @media screen and (max-width: $screen-width-sm) {
                    justify-content: center;
                    align-items: center;
                }
            .ctas {
                display: flex;
                gap: 1rem;
                flex-direction: row;
                align-items: center;
                a {
                    font-weight: bold;
                }

            }
            
        }
        .social-icons {
            display: flex;
            flex-direction: row;
            color: white;
            gap: 1rem;
            @media screen and (max-width: $screen-width-sm) {
                    justify-content: center;
                }
            a {
                display: flex;
                justify-content: center;
                height: 48px;
                width: 48px;

                svg {
                    width: 32px;
                    height: 32px;
                    color: white;
                }
            }
        }
    }
}

#about {
    display: flex;
    align-items: self-start;
    .container {
        display: flex;
        gap: 2rem;
        flex-direction: row;
        align-items: center;
        width: 80vw;
        justify-content: center;
        @media screen and (max-width: $screen-width-sm) {
            flex-direction: column;
        }
        .header-title {
            color: white;
            font-size: 3rem;
            margin: 0;
        }
        a {
            color: white;
        }
        .image {
            flex: 1 1 0%;

            @media screen and (max-width: $screen-width-sm) {
                display: none;
            }
            img {
                max-width: 600px;
                max-height: 600px;
            }
        }

        .text {
            flex: 1 1 0%;
            overflow: visible;
            margin-bottom: 6px;
            color: white;
            display: flex;
            flex-direction: column;
            text-align: left;
            width: 50%;
            @media screen and (max-width: $screen-width-sm) {
                width: 100%;
                text-align: center;
                justify-content: center;
            }
           
            .description {
                font-size: 18px;
                text-transform: uppercase;

                @media screen and (max-width: $screen-width-xs) {
                    font-size: 16px;
                }

                @media screen and (max-width: $screen-width-xs) {
                    font-size: 36px;
                }

                font-size: 60px;

                .text-anim {
                    color: $green;
                }
            }

            span {
                margin-right: 4px;
            }
        }

                .scrolling-wrappper-flexbox{
                    display: flex;
                    overflow-x: auto;
                    flex-direction: row;
                    color: white;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    gap: 1rem;
                    padding: 0;
                    .icon {
                        min-height: 62px;
                        min-width: 62px;
                        overflow: hidden;
                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
    }
    
}
.image {
    flex: 1 1 0%;
    @media screen and (max-width: $screen-width-sm) {
        display: none;
    }
    img {
        max-width: 600px;
        max-height: 600px;
    }
}
#work {
    height: unset;
    min-height: 100vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    .container {
        display: flex;
        flex-direction: row;
        width: 80vw;
        height: 80vh;
        @media screen and (max-width: $screen-width-sm) {
            flex-direction: column;
        }
        .text {
            display: flex;
            flex-direction: column;
            padding: 8px;
            margin-right: 10px;
            @media screen and (min-width: $screen-width-sm) {
                width: 50%;
            }

            h1 {
                margin-bottom: 15px;
            }
            h3 {
                margin-top: 0;
            }
            h1, h3 {
                    @media screen and (min-width: $screen-width-sm) {
                        max-width: 450px;
                        
                    }
                }
            .image {
                flex: 1 1 0%;
                overflow: hidden;
                img {
                    max-width: 450px;
                    max-height: 450px;
                }
                @media screen and (max-width: $screen-width-sm) {
                    display: none;
                }
            }
    
        }
        .experience {
            display: flex;
            flex-direction: column;
            flex: 1 1 0%;
            h1, h2 {
                margin-bottom: 0px;
            }
            .experience-container {
    
                .experience-item {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.38);
                    margin-bottom: 15x;
                    .experience-title {
                        font-size: 20px;
                        margin: 15px 0px;
                    }
                    h2, h3, h4 {
                       
                        margin: 15px 0px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
        }

    }
}

.icon-container {
    display: flex;
    padding: 4px;
    justify-content: center;
}

.scroller {
    width: 100%;
    //max-width: 400px;
    outline: 3px solid lime;
    .icon {
        display: flex;
        overflow: visible;
        svg {
            width: 32px;
            height: 32px;
        }
    }
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, 
    transparent,
     white 20%,
     white 80%,
     transparent);
    mask: linear-gradient(90deg,
                transparent,
                white 20%,
                white 80%,
                transparent);
  
}

[data-animated="true"] .scroller__inner {
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
   to {
      transform: translateX(-50%);
   }
}