body {
  background-color: #F3F2F9; }
  body .social-icons {
    list-style: none;
    position: fixed;
    width: 10%;
    left: 0;
    top: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column; }
    body .social-icons li {
      margin: 10px; }
    body .social-icons img {
      cursor: pointer; }
