@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}
.header-section {
  padding: 8px;
}
.header-section .header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section .header-left .logo {
  display: flex;
  justify-content: center;
}
.header-section .header-left .logo {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 0.8rem;
  color: white;
}

.text-gradient {
  background: linear-gradient(to right, #6b66fc, #2ba2f7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradienthover {
  background: linear-gradient(to right, #6b66fc, #2ba2f7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  overflow: visible;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.nav .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav .nav-container .active {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(207, 205, 205, 0.24) 0px 3px 6px;
  border-radius: 50%;
}
.nav .nav-container .link {
  display: flex;
  color: white;
  padding: 8px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.nav .nav-container .link svg {
  width: 32px;
  height: 32px;
}

#home .section {
  height: 78vh;
}
@media screen and (max-width: 771px) {
  #home .section {
    height: 85h;
  }
}
#home .container {
  width: unset;
  display: flex;
}
@media screen and (max-width: 771px) {
  #home .container {
    align-items: center;
  }
}
#home .container .title {
  font-family: "Playfair Display", serif;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 5rem;
  width: 90%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#home .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80vw;
  row-gap: 2rem;
}
@media screen and (max-width: 771px) {
  #home .wrapper {
    flex-direction: column;
    width: 100%;
  }
}
#home .wrapper .image {
  flex: 1 1 0%;
}
@media screen and (max-width: 771px) {
  #home .wrapper .image {
    display: none;
  }
}
#home .wrapper img {
  max-width: 600px;
  max-height: 600px;
}
#home .wrapper .text {
  flex: 1 1 0%;
  overflow: visible;
  margin-bottom: 6px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media screen and (max-width: 771px) {
  #home .wrapper .text {
    text-align: center;
  }
}
#home .wrapper .text .description {
  font-size: 18px;
  text-transform: uppercase;
  font-size: 60px;
}
@media screen and (max-width: 576px) {
  #home .wrapper .text .description {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  #home .wrapper .text .description {
    font-size: 36px;
  }
}
#home .wrapper .text .description .text-anim {
  color: #30dbc6;
}
#home .wrapper .text span {
  margin-right: 4px;
}
#home .wrapper p {
  color: white;
}
#home .wrapper .home-cta {
  gap: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;
}
@media screen and (max-width: 771px) {
  #home .wrapper .home-cta {
    justify-content: center;
    align-items: center;
  }
}
#home .wrapper .home-cta .ctas {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}
#home .wrapper .home-cta .ctas a {
  font-weight: bold;
}
#home .wrapper .social-icons {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 1rem;
}
@media screen and (max-width: 771px) {
  #home .wrapper .social-icons {
    justify-content: center;
  }
}
#home .wrapper .social-icons a {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 48px;
}
#home .wrapper .social-icons a svg {
  width: 32px;
  height: 32px;
  color: white;
}

#about {
  display: flex;
  align-items: self-start;
}
#about .container {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  justify-content: center;
}
@media screen and (max-width: 771px) {
  #about .container {
    flex-direction: column;
  }
}
#about .container .header-title {
  color: white;
  font-size: 3rem;
  margin: 0;
}
#about .container a {
  color: white;
}
#about .container .image {
  flex: 1 1 0%;
}
@media screen and (max-width: 771px) {
  #about .container .image {
    display: none;
  }
}
#about .container .image img {
  max-width: 600px;
  max-height: 600px;
}
#about .container .text {
  flex: 1 1 0%;
  overflow: visible;
  margin-bottom: 6px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}
@media screen and (max-width: 771px) {
  #about .container .text {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
#about .container .text .description {
  font-size: 18px;
  text-transform: uppercase;
  font-size: 60px;
}
@media screen and (max-width: 576px) {
  #about .container .text .description {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  #about .container .text .description {
    font-size: 36px;
  }
}
#about .container .text .description .text-anim {
  color: #30dbc6;
}
#about .container .text span {
  margin-right: 4px;
}
#about .container .scrolling-wrappper-flexbox {
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  color: white;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
}
#about .container .scrolling-wrappper-flexbox .icon {
  min-height: 62px;
  min-width: 62px;
  overflow: hidden;
}
#about .container .scrolling-wrappper-flexbox .icon svg {
  width: 100%;
  height: 100%;
}

.image {
  flex: 1 1 0%;
}
@media screen and (max-width: 771px) {
  .image {
    display: none;
  }
}
.image img {
  max-width: 600px;
  max-height: 600px;
}

#work {
  height: unset;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
#work .container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 80vh;
}
@media screen and (max-width: 771px) {
  #work .container {
    flex-direction: column;
  }
}
#work .container .text {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-right: 10px;
}
@media screen and (min-width: 771px) {
  #work .container .text {
    width: 50%;
  }
}
#work .container .text h1 {
  margin-bottom: 15px;
}
#work .container .text h3 {
  font-weight: lighter;
  font-size: 0.9rem;
  margin-top: 0;
}
@media screen and (min-width: 771px) {
  #work .container .text h1, #work .container .text h3 {
    max-width: 450px;
  }
}
#work .container .text .image {
  flex: 1 1 0%;
  overflow: hidden;
}
#work .container .text .image img {
  max-width: 450px;
  max-height: 450px;
}
@media screen and (max-width: 771px) {
  #work .container .text .image {
    display: none;
  }
}
#work .container .experience {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
#work .container .experience h1, #work .container .experience h2 {
  margin-bottom: 0px;
}
#work .container .experience .experience-container .experience-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  margin-bottom: 15x;
}
#work .container .experience .experience-container .experience-item .experience-title {
  font-size: 20px;
  margin: 15px 0px;
}
#work .container .experience .experience-container .experience-item h2, #work .container .experience .experience-container .experience-item h3, #work .container .experience .experience-container .experience-item h4 {
  margin: 15px 0px;
}
#work .container .experience .experience-container .experience-item p {
  font-size: 12px;
}

.icon-container {
  display: flex;
  padding: 4px;
  justify-content: center;
}

.scroller {
  width: 100%;
  outline: 3px solid lime;
}
.scroller .icon {
  display: flex;
  overflow: visible;
}
.scroller .icon svg {
  width: 32px;
  height: 32px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

[data-animated=true] .scroller__inner {
  flex-wrap: nowrap;
  width: -moz-max-content;
  width: max-content;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}
.experience-timeline {
  display: flex;
  flex-direction: column;
}
.experience-timeline .timeline-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.experience-timeline .timeline-container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
}
.experience-timeline .timeline-container .timeline {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.experience-timeline .timeline-container .timeline .timeline-item {
  display: flex;
  flex-direction: row;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-left {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-left .timeline-year {
  padding: 5px;
  writing-mode: vertical-rl;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.562);
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right {
  width: 90%;
  display: flex;
  flex-direction: row;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0px;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .content-left {
  display: flex;
  flex-direction: row;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .content-left .timeline-bubble {
  display: inline-table;
  justify-content: center;
  position: relative;
  padding: 5px;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .content-left .timeline-bubble [class^=bubble] {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: relative;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .content-left .timeline-bubble [class^=bubble] svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .content-left .timeline-bubble .bubble-work {
  color: white;
  background-color: #6b66fc;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .content-left .timeline-bubble .bubble-education {
  color: #6b66fc;
  background-color: white;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .content-left .timeline-text {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .content-left .timeline-text .company-link {
  font-weight: lighter;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  padding-bottom: 2px;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .content-left .timeline-text .job-description {
  font-size: 0.8rem;
  padding: 0px;
  margin: 0px;
  list-style-type: square;
  font-weight: lighter;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .content-left .timeline-text .job-description li {
  list-style: circle;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .content-left .timeline-description {
  display: flex;
  overflow: visible;
  margin: 0px;
  padding: 0px;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}
.experience-timeline .timeline-container .timeline .timeline-item .timeline-right .timeline-content li .see-more button {
  border-radius: 8px;
  padding: 4px 8px;
  background-color: transparent;
  border: 1px #6b66fc solid;
  color: white;
}

#projects {
  display: flex;
  height: unset;
  color: white;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
#projects > *:nth-child(2n):not(:first-child) {
  flex-direction: row-reverse;
}
#projects .container {
  justify-content: space-between;
  width: 80%;
  align-items: center;
}
#projects .container .left-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-basis: 41%;
}
#projects .container .left-column .left-text .title {
  font-size: 1rem;
}
#projects .container .left-column .left-text .title h2 {
  margin: 0;
}
#projects .container .left-column .left-text .description {
  color: white;
  display: flex;
  flex-direction: column;
}
#projects .container .left-column .left-text .description .title {
  font-size: 3rem;
}
#projects .container .left-column .left-text .description .text {
  font-size: 1.2rem;
}
#projects .container .left-column .stack {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#projects .container .left-column .stack ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1rem;
  flex-direction: row;
  justify-content: flex-start;
}
#projects .container .right-column {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
@media screen and (max-width: 771px) {
  #projects .container .right-column {
    display: none;
  }
}
#projects .container .right-column img {
  max-width: 500px;
  border-radius: 12px;
}/*# sourceMappingURL=Home.css.map */